<!DOCTYPE html>
<html>
    <head>
        <title>Index of Portfolio</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet'>
    </head>
    <body class="body">      
        <h1 class="center-text">This is my Index for my Portfolio</h1>      
    </body>
    <h1>
                Hi my name is Adam Kinville
                This is my portfolio website.
            </h1>
</html>