<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index of Portfolio</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet'>
    </head>
    <body class="body">      
        <h1 class="center-text">This is my Index for my Portfolio</h1>      
    </body>
    <h1>
                Hi my name is Adam Kinville
                This is my portfolio website.
            </h1>
<div class="image-box">
 <img src="images/test.png" alt="Description of the image">
</div>         
</html>